/* CONTACT, LOGIN, REGISTER */
.contact .col-1 #map {height:550px;}
#formAdd,#formAdd p,#formRegister,#formContact p,#formRegister p,#formContact legend,#formAdd legend {width:100%;}
#formContact p,#formRegister p,.blockclient p {margin:2px 0;}
.contact #formContact legend {margin:0 0 8px;}
.contact-box .radio-List {margin:7px 0 15px;padding:1%;}
.contact-box .radio-List p {width:33% !important;display:inline-block !important;}
.contact-box .radio-List p label {width:85% !important;padding:0 0 8px 0;}
.contact-return,.contact-return span {display:inline-block;}
.contact-return span,.contact-return span {padding:0 4px;}
.contact-return {width:98% !important;padding:1%;margin:0 0 10px;}
.btnSubmit {cursor:pointer;font-weight:800;padding:4px 10px;}