/* LOGIN, REGISTER */
.block-civilite,.block-civilite li div {width:100%;}
.block-civilite li {width:31.1%;color:#999;overflow:hidden;cursor:pointer;text-align:center;margin:1%;border-radius:5px;}
.block-civilite li strong {width:20px;display:block;height:40px;margin:10px auto;background-repeat:no-repeat;}