.white,.clr-white,.pagination a:hover,.page_navigation .active_page,.block-civilite li.selected,.share-bar a,.checkbox-input.selected,li.color,.toggle-input,.toggle-input-2 {color:#fff;}
.clr-black,.support-file-options .selected,.msg-info-top a {color:#000;}
a,.color-link,.slogan,#formProduct h2,form legend {color:#56093b;}
.clr-grey,.checkbox-input,.pagination .prevnext.disabled,.page_navigation .no_more {color:#aaa;}
.clr-grey-1,.member-nav nav a,.short-desc span,.member-nav .user-info-link span {color:#555;}
.clr-green-1 {color:#80c01a;}
.clr-orange-1 {color:#ff7d00;}
.clr-red-1 {color:#b61111;}