/* line 1, ../scss/site.scss */
body, html {
  line-height: 1.4em;
}

/*------------------------- HEADER -------------------------*/
/* line 3, ../scss/site.scss */
#col-1 {
  width: 240px;
  position: fixed;
  left: -240px;
  top: 0;
  z-index: 99999999999;
}

/* line 4, ../scss/site.scss */
.bande_top, #footer {
  z-index: 999999;
}

/* line 5, ../scss/site.scss */
#center, #conteneurtitre {
  z-index: 3;
}

/* line 6, ../scss/site.scss */
#general, .bande_top, .msg-info-top, #content-list, .content p, .linkhome div, #menubar ul {
  width: 100%;
}

/* line 7, ../scss/site.scss */
.block-center {
  width: 95%;
}

/* line 8, ../scss/site.scss */
#menubar, #menubar li, #top ul, .block-center, #content, #content .col-2, #content ul li, .faq .col-2 li, .produit, #formSearch, .link-home-pdf li {
  position: relative;
}

/* line 9, ../scss/site.scss */
.banner-top {
  max-width: 960px;
}

/* line 10, ../scss/site.scss */
.bande_top {
  height: 2px;
}

/* line 11, ../scss/site.scss */
.msg-info-top {
  padding: 1% 0;
}

/* line 12, ../scss/site.scss */
.msg-info-top div {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
}

/* line 13, ../scss/site.scss */
#logo {
  z-index: 999;
}

/* line 14, ../scss/site.scss */
#logo {
  width: auto;
  height: auto;
  margin-top: 4px;
}

/* line 15, ../scss/site.scss */
.searchbar-top, #nav-member-top {
  position: absolute;
}

/* line 16, ../scss/site.scss */
.banner-top {
  min-height: 110px;
}

/* line 17, ../scss/site.scss */
.slogan {
  width: 800px;
  padding-left: 160px;
  padding: 8px 0;
}

/* line 18, ../scss/site.scss */
h2, h3, h4, .container-list p strong, .lof-main-wapper div h3 {
  width: 100%;
  font-weight: 700;
}

/* line 22, ../scss/site.scss */
#menubar ul li {
  width: auto;
  margin: 4px;
  float: left;
}
/* line 25, ../scss/site.scss */
#menubar ul li a {
  display: block;
  padding: 8px 13px;
}
/* line 28, ../scss/site.scss */
#menubar ul li a:hover {
  color: #ffffff;
}

/* line 36, ../scss/site.scss */
#menubar ul, .MenuBarHorizontal ul ul, .MenuBarHorizontal ul li {
  z-index: 99999999999 !important;
}

/* line 37, ../scss/site.scss */
#menubar ul li a:hover {
  width: auto;
}

/*- Menu deroulant -*/
/* line 39, ../scss/site.scss */
.MenuBarHorizontal {
  font-size: 100%;
  min-width: 350px;
}

/* line 40, ../scss/site.scss */
.MenuBarHorizontal, .MenuBarHorizontal li, .MenuBarHorizontal ul {
  list-style-type: none;
}

/* line 41, ../scss/site.scss */
.MenuBarHorizontal, .MenuBarHorizontal ul {
  cursor: default;
}

/* line 42, ../scss/site.scss */
.MenuBarActive {
  z-index: 1000;
}

/* line 43, ../scss/site.scss */
.sub-tabs {
  width: 240px !important;
  font-size: 70%;
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
}

/*Block*/
/* line 45, ../scss/site.scss */
.MenuBarHorizontal ul li {
  width: auto;
  margin: 0 !important;
  text-align: center;
  float: left;
}

/* line 46, ../scss/site.scss */
.MenuBarHorizontal li {
  position: relative;
}

/* line 47, ../scss/site.scss */
.MenuBarHorizontal li, .MenuBarHorizontal a {
  cursor: pointer;
}

/* line 48, ../scss/site.scss */
.MenuBarHorizontal .MenuBarSubmenuVisible {
  left: auto;
  top: 30px;
  background: #fff;
}

/* line 49, ../scss/site.scss */
.MenuBarHorizontal ul li {
  width: 98% !important;
  padding: 4px 1%;
  text-align: left;
}

/*Sous menu du menu*/
/* line 51, ../scss/site.scss */
.MenuBarHorizontal ul ul {
  position: absolute;
  margin: -5% 0 0 95%;
}

/* line 52, ../scss/site.scss */
.MenuBarHorizontal .MenuBarSubmenuVisible .MenuBarSubmenuVisible {
  left: auto;
  top: 0;
}

/* Aspect visuel lien */
/* line 54, ../scss/site.scss */
.MenuBarHorizontal li a {
  padding: 6px 0.75em;
  display: block;
  text-decoration: none;
}

/* HACK FOR IE */
/*.MenuBarHorizontal iframe {position:absolute;z-index:1010;filter:alpha(opacity:0.1);}
@media screen,projection {
	.MenuBarHorizontal li.MenuBarItemIE {display:inline;f\loat:left;}
}*/
/* line 60, ../scss/site.scss */
#top ul, #top ul li a {
  color: #555;
}

/* line 61, ../scss/site.scss */
#top ul {
  font-size: 11px;
  text-align: right;
}

/* line 62, ../scss/site.scss */
#top ul li {
  margin: 14px 0;
  display: inline-block;
}

/* line 63, ../scss/site.scss */
#top ul li a {
  height: 14px;
  padding: 5px;
  margin-left: 2px;
}

/* line 64, ../scss/site.scss */
#nav-member-top {
  width: 210px;
  z-index: 9999;
  top: 21px;
  left: 0;
  padding: 0.1% !important;
}

/* line 65, ../scss/site.scss */
#nav-member-top li {
  width: 100%;
  float: left;
  line-height: 20px;
  margin: 1px 0 !important;
}

/* line 66, ../scss/site.scss */
#nav-member-top li a {
  width: 93.5%;
  padding: 5px 0;
  height: 22px !important;
  display: block;
  text-transform: capitalize !important;
  text-align: left !important;
}

/* line 67, ../scss/site.scss */
#top .phone, .check-cart #count-cart {
  padding: 2px 5px;
}

/* line 68, ../scss/site.scss */
#top .check-cart, #top .phone {
  margin: 0 5px;
}

/* line 69, ../scss/site.scss */
#top .check-cart a {
  padding-left: 10px;
}

/* line 70, ../scss/site.scss */
.check-cart span {
  margin: 0 2px;
}

/* line 71, ../scss/site.scss */
#top .block-member-top {
  position: relative;
  margin: 0;
  padding: 0 5px;
}

/* line 72, ../scss/site.scss */
.searchbar-top {
  padding: 5px 5px 5px 40px;
  top: 20px;
  right: 0;
}

/* line 73, ../scss/site.scss */
#general {
  position: absolute;
  min-height: 790px;
  max-height: 1200px;
  background: url("../images/fd.png") no-repeat center top;
  z-index: -1;
}

/* line 74, ../scss/site.scss */
.border-btm-dsh {
  border-bottom: 1px #ccc dashed;
}

/*------------------------- CONTENT -------------------------*/
/* line 76, ../scss/site.scss */
.ft-cs1 {
  font-family: ft-site-1;
}

/* line 77, ../scss/site.scss */
.ft-cs2 {
  font-family: ft-site-2;
}

/* line 78, ../scss/site.scss */
.slogan, .banner-top, #menubar ul, .block-center, #footer .block {
  margin: 0 auto;
}

/* line 79, ../scss/site.scss */
h1#conteneurtitre, #linkbas li a {
  font-weight: bold;
}

/* INDEX */
/*.center-blk,*/
/* line 81, ../scss/site.scss */
.linkhome, .slideshow ul {
  overflow: hidden;
}

/* line 82, ../scss/site.scss */
#content ul li .img-actu, .linkhome div, .produits form fieldset, ul.block li .small-link {
  position: absolute;
}

/* line 83, ../scss/site.scss */
.pagination, #content-list {
  position: relative;
}

/* line 84, ../scss/site.scss */
#content {
  width: 100%;
  min-height: 200px;
}

/* line 85, ../scss/site.scss */
#content {
  padding: 8px 0;
}

/* line 86, ../scss/site.scss */
#formProduct h3, #formProduct h4 {
  margin: 0 0 8px;
}

/* line 87, ../scss/site.scss */
.content ul.block li h4 {
  width: 100%;
}

/* line 88, ../scss/site.scss */
.content .block p {
  line-height: 16px;
}

/* line 89, ../scss/site.scss */
.article .content .block p, .article .content .block div {
  font-size: 1.4em;
  line-height: 1.5em;
}

/* line 90, ../scss/site.scss */
.actualites .content li article aside {
  font-size: 1.1em;
  line-height: 1.3em;
}

/* line 91, ../scss/site.scss */
.article .content .block p, .article .content .block div, .actualites .content li article aside {
  font-family: Times New Roman, Helvetica, serif;
}

/* line 92, ../scss/site.scss */
section#content .intro, .menus h2, .content .intro p, .col-1 .banner {
  margin: 0 0 10px;
}

/* line 93, ../scss/site.scss */
#content-list {
  min-height: 550px;
}

/* line 94, ../scss/site.scss */
#content-list ul {
  margin: 0 0 20px;
}

/* line 95, ../scss/site.scss */
ul.block li div.short-desc, .videos_viewer div.short-desc {
  margin: 1%;
}

/* line 96, ../scss/site.scss */
div.short-desc span, .videos .content section aside span {
  line-height: 16px;
}

/* line 97, ../scss/site.scss */
ul.block li .small-link, section aside .small-link {
  width: 25px;
  height: 25px;
  bottom: 5px;
  right: 5px;
}

/* line 98, ../scss/site.scss */
ul.block li .small-link a, section aside .small-link a {
  width: 100%;
  height: 100%;
  display: block;
  background-repeat: no-repeat;
}

/* line 99, ../scss/site.scss */
.col-1 .banner {
  width: 94%;
  padding: 2% 2% 20px;
}

/* ARTICLES */
/* line 101, ../scss/site.scss */
.article .big-border-bottom, .music_view .content ul.block li h3 strong, .videos ul.block li h3 {
  width: 100%;
}

/* line 102, ../scss/site.scss */
.share-bar a, .share-bar nav, .share-bar div {
  display: inline-block;
}

/* line 103, ../scss/site.scss */
.share-btn-details {
  float: left;
  position: absolute;
  right: 0;
}

/* line 1, ../scss/partials/forms/_searchbar.scss */
.search .block {
  width: 96% !important;
  margin: 1% 2%;
  min-height: 224px;
}

/* line 2, ../scss/partials/forms/_searchbar.scss */
.search form a {
  margin: 1% 0;
  clear: both;
}

/* CONTACT, LOGIN, REGISTER */
/* line 2, ../scss/partials/forms/_contact.scss */
.contact .col-1 #map {
  height: 550px;
}

/* line 3, ../scss/partials/forms/_contact.scss */
#formAdd, #formAdd p, #formRegister, #formContact p, #formRegister p, #formContact legend, #formAdd legend {
  width: 100%;
}

/* line 4, ../scss/partials/forms/_contact.scss */
#formContact p, #formRegister p, .blockclient p {
  margin: 2px 0;
}

/* line 5, ../scss/partials/forms/_contact.scss */
.contact #formContact legend {
  margin: 0 0 8px;
}

/* line 6, ../scss/partials/forms/_contact.scss */
.contact-box .radio-List {
  margin: 7px 0 15px;
  padding: 1%;
}

/* line 7, ../scss/partials/forms/_contact.scss */
.contact-box .radio-List p {
  width: 33% !important;
  display: inline-block !important;
}

/* line 8, ../scss/partials/forms/_contact.scss */
.contact-box .radio-List p label {
  width: 85% !important;
  padding: 0 0 8px 0;
}

/* line 9, ../scss/partials/forms/_contact.scss */
.contact-return, .contact-return span {
  display: inline-block;
}

/* line 10, ../scss/partials/forms/_contact.scss */
.contact-return span, .contact-return span {
  padding: 0 4px;
}

/* line 11, ../scss/partials/forms/_contact.scss */
.contact-return {
  width: 98% !important;
  padding: 1%;
  margin: 0 0 10px;
}

/* line 12, ../scss/partials/forms/_contact.scss */
.btnSubmit {
  cursor: pointer;
  font-weight: 800;
  padding: 4px 10px;
}

/* Tiny Scrollbar */
/* line 2, ../scss/partials/general/_scrollbars.scss */
#scrollbar1 {
  width: 98%;
  float: left;
  padding: 0 1%;
  margin: 0 0 15px;
  overflow: hidden;
}

/* line 3, ../scss/partials/general/_scrollbars.scss */
#scrollbar1 .viewport {
  width: 96%;
  height: 170px;
  overflow: hidden;
  position: relative;
  float: left;
}

/* line 4, ../scss/partials/general/_scrollbars.scss */
#scrollbar1 .overview {
  list-style: none;
  position: absolute;
  left: 0;
  top: 0;
  padding: 0 0 20px;
  margin: 0;
}

/* line 5, ../scss/partials/general/_scrollbars.scss */
#scrollbar1 .scrollbar {
  background: #662 no-repeat 0 0;
  position: relative;
  background-position: 0 0;
  float: right;
  width: 10px;
}

/* line 6, ../scss/partials/general/_scrollbars.scss */
#scrollbar1 .track {
  background: #000 no-repeat 0 100%;
  height: 100%;
  width: 8px;
  position: relative;
  padding: 0 1px;
}

/* line 7, ../scss/partials/general/_scrollbars.scss */
#scrollbar1 .thumb {
  background: #CCC;
  height: 20px;
  width: 10px;
  cursor: pointer;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

/* line 8, ../scss/partials/general/_scrollbars.scss */
#scrollbar1 .thumb .end {
  background: #CCC;
  overflow: hidden;
  height: 5px;
  width: 20px;
}

/* line 9, ../scss/partials/general/_scrollbars.scss */
#scrollbar1 .disable {
  display: none;
}

/* line 1, ../scss/partials/general/_pagination.scss */
.pagination {
  width: 98%;
  padding: 1%;
}

/* line 2, ../scss/partials/general/_pagination.scss */
.pagination a, .pagination span {
  min-width: 15px;
  margin: 2px;
  padding: 2px;
}

/* line 3, ../scss/partials/general/_pagination.scss */
.pagination .prevnext.disabled, .pagination .current {
  cursor: default;
}

/* line 1, ../scss/partials/checkout/_checkout.scss */
.checkout #content .col-1 {
  width: 69%;
}

/* line 2, ../scss/partials/checkout/_checkout.scss */
.checkout #content .col-2 {
  width: 29%;
  position: absolute;
  top: 10px;
  right: 0;
}

/* line 3, ../scss/partials/checkout/_checkout.scss */
.order li {
  width: 100%;
  min-width: 260px;
  background: #ddd;
  margin: 0 0 5px;
}

/* line 4, ../scss/partials/checkout/_checkout.scss */
.order li div {
  padding: 1% 11px;
  position: relative;
}

/* line 5, ../scss/partials/checkout/_checkout.scss */
.order li div span {
  background: #c00;
  color: #fff;
  position: absolute;
  top: 30px;
  left: -14px;
  width: 20px;
  padding: 2px;
  text-align: center;
}

/* line 6, ../scss/partials/checkout/_checkout.scss */
.total-price {
  width: 100%;
}

/* line 7, ../scss/partials/checkout/_checkout.scss */
.total-price span:last-child {
  text-align: right;
  color: #000;
}

/* line 8, ../scss/partials/checkout/_checkout.scss */
.total-price p {
  width: 96% !important;
  padding: 1% 2%;
}

/* line 9, ../scss/partials/checkout/_checkout.scss */
.total-price p:last-child {
  margin: 10px 0;
  padding: 10px 2%;
  background: #ddd;
}

/* LOGIN, REGISTER */
/* line 2, ../scss/partials/forms/_login.scss */
.block-civilite, .block-civilite li div {
  width: 100%;
}

/* line 3, ../scss/partials/forms/_login.scss */
.block-civilite li {
  width: 31.1%;
  color: #999;
  overflow: hidden;
  cursor: pointer;
  text-align: center;
  margin: 1%;
  border-radius: 5px;
}

/* line 4, ../scss/partials/forms/_login.scss */
.block-civilite li strong {
  width: 20px;
  display: block;
  height: 40px;
  margin: 10px auto;
  background-repeat: no-repeat;
}

/* MEMBER AREA */
/* line 2, ../scss/partials/logged/_member-area.scss */
.member-area #center .col-1 {
  width: 25.5%;
}

/* line 3, ../scss/partials/logged/_member-area.scss */
.member-area #center .col-2 {
  width: 73.6%;
}

/* line 4, ../scss/partials/logged/_member-area.scss */
.member-nav h2, .member-area section .block div, .member-nav nav, #open-member-nav {
  width: 100%;
}

/* line 5, ../scss/partials/logged/_member-area.scss */
.member-area .col-1 div h2, .member-nav h2 {
  text-align: center;
  padding: 2% 0;
}

/*.member-nav nav,.col-1 .member-nav nav {padding:2% 10px;}*/
/* line 7, ../scss/partials/logged/_member-area.scss */
.member-nav .user-img-link {
  height: 65px;
}

/* line 8, ../scss/partials/logged/_member-area.scss */
.member-nav .user-info-link {
  width: 68%;
  padding: 10px 2% 0;
  line-height: 16px;
}

/* line 9, ../scss/partials/logged/_member-area.scss */
.member-nav nav li {
  list-style-type: none;
  margin: 0 0 3px;
}

/* line 10, ../scss/partials/logged/_member-area.scss */
.member-nav nav a {
  width: 98%;
  display: block;
  padding: 1%;
}

/* line 11, ../scss/partials/logged/_member-area.scss */
.member-area #content .infos {
  width: 46%;
  margin: 0.5%;
  position: relative;
}

/* line 12, ../scss/partials/logged/_member-area.scss */
.member-area #content .infos, .member-area #content .block {
  padding: 1%;
  margin: 0.5% 0.5% 10px;
}

/* line 13, ../scss/partials/logged/_member-area.scss */
.member-area #content .infos article {
  width: 222px;
}

/* line 14, ../scss/partials/logged/_member-area.scss */
.member-area #content .block {
  width: 96%;
}

/* line 15, ../scss/partials/logged/_member-area.scss */
.picto-member, .member-area .order, .member-area .points, .member-area .profil, .member-area .faq, .member-area .contact {
  width: 65px;
  height: 70px;
  border: none;
}

/* line 16, ../scss/partials/logged/_member-area.scss */
.member-area .order {
  background-position: 0 0;
}

/* line 17, ../scss/partials/logged/_member-area.scss */
.member-area .points {
  background-position: 0 0;
}

/* line 18, ../scss/partials/logged/_member-area.scss */
.member-area .profil {
  background-position: 130px 0;
}

/* line 19, ../scss/partials/logged/_member-area.scss */
.member-area .faq {
  background-position: 195px 0;
}

/* line 20, ../scss/partials/logged/_member-area.scss */
.member-area .contact {
  background-position: 65px 0;
}

/* line 21, ../scss/partials/logged/_member-area.scss */
.member-area .block span {
  margin: 6px 0;
}

/* line 22, ../scss/partials/logged/_member-area.scss */
.member-area .block .num-order, .member-area .block .total, .member-area .block .statut {
  margin-left: 4%;
}

/* line 23, ../scss/partials/logged/_member-area.scss */
.member-area .block .renew {
  margin-left: 1%;
}

/*Member orders*/
/* line 25, ../scss/partials/logged/_member-area.scss */
.member-area .desc-order {
  margin: 0 0 10px;
}

/* line 26, ../scss/partials/logged/_member-area.scss */
.member-area .desc-order li {
  width: 100%;
}

/* line 27, ../scss/partials/logged/_member-area.scss */
.member-area table td, .member-area table th {
  width: 20%;
}

/*Formulaire modification */
/* line 114, ../scss/site.scss */
.update-profil .block-input {
  width: 65%;
}

/* line 115, ../scss/site.scss */
.update-profil .block-input .input {
  width: 90% !important;
  position: relative;
  padding-right: 8% !important;
}

/* line 116, ../scss/site.scss */
.update-profil .input img {
  position: absolute;
  right: 0;
  top: 3px;
  z-index: 9;
  cursor: pointer;
}

/* line 117, ../scss/site.scss */
.update-profil .block-input input[type=text] {
  width: 75% !important;
}
