.radio-box li {border:solid 1px #f4f4f4;}
.white-border {border:2px #fff solid;}
.min-border {border:1px #ddd solid;}
.border,.contact .col-1 #map {border:3px #ddd solid;}
.border-top {padding:0 3px 0;border-top:1px #ddd solid;}
.border-right {border-right:1px #ddd solid;}
.border-btm,.border-bottom,hr  {border-bottom:1px #ddd solid;}
.border-btm-2  {border-bottom:1px #777 solid;}
.big-border-bottom {border-bottom:8px #eee solid;}