.input-box input[type=text],.input-box input[type=password],.input-box input[type=email],.input-box input[type=number] {padding: 5px 1%;}
.wg-min-pict .update-pict-box {height:100px;}
.wg-larg-pict .update-pict-box {height:130px;}
.wg-big-pict .update-pict-box {height:300px;}
.btn-link .pict-1,.btn-link .pict-2,.btn-link .pict-3 {width: 32px;height: 32px;}
.min-btn-link .pict-1,.min-btn-link .pict-2,.min-btn-link .pict-3 {width: 24px;height:24px;}
.box-ctn {height:100%;}

/*Boutons generique*/
.checkbox-input .checkbox-icon,.checkbox-input span {height:14px;margin:0 !important;padding:6px;}
.checkbox-input div.checkbox-icon,.member-area section .block div.checkbox-icon {width:14px;}
.radio-box li {width:31%;margin:1px 0;}
.radio-box li div {width:8%;}
.radio-box li span {width:70%;padding:0px 8px;}