.t9 {font-size: $px-size-9;}
.t-9 {font-size: $size-0-9;}
.t10 {font-size: $px-size-10;}
.t-10,body,html {font-size: $em-size-1;}
.t11 {font-size: $px-size-11;}
.t-11 {font-size: $em-size-1-1;}
.t12 {font-size: $px-size-12;}
.t-12 {font-size: $em-size-1-2;}
.t14,form {font-size: $px-size-14;}
.t16 {font-size: $px-size-16;}
.t18 {font-size: $px-size-18;}
.t-18 {font-size: $em-size-1-8;}
.t-20 {font-size: $em-size-2;}
.t22,#conteneurtitre {font-size: $px-size-22;}
.t30 {font-size: $px-size-30;}
.t-30 {font-size: $em-size-3;}
.t-35 {font-size: $em-size-3-5;}
.t-biggest {font-size: $em-size-2-5;}
.t-adjust {font-size: $prc-size-200;}