/*Heights*/
.min-h-50 {min-height:50px;}
.min-h-80 {min-height:80px;}
.min-h-100 {min-height:100px;}
.min-h-150 {min-height:150px;}
.min-h-200 {min-height:200px;}
.min-h-250 {min-height:250px;}
.min-h-300 {min-height:300px;}
.min-h-350 {min-height:350px;}
.min-h-400 {min-height:400px;}
.min-h-450 {min-height:450px;}
.min-h-500 {min-height:500px;}
.min-h-550 {min-height:550px;}
.min-h-600 {min-height:600px;}
.min-h-700 {min-height:700px;}
.min-h-800 {min-height:800px;}
.min-h-1024 {min-height:1024px;}
.h-100,#modal-bckground {height:100%;}
.hf-300 {height:300px;}