.fix-box-100 {width:100px;}
.div-box-5 {width:5%;}
.div-box-10,.blk-box-10 {width:10%;}
.div-box-20 {width:20%;}
.div-box-25 {width:25%;}
.div-box-30 {width:30%;}
.div-box-40 {width:40%;}
.double-box {width:48%;}
.div-box-50 {width:50%;}
.div-box-60 {width:60%;}
.div-box-70 {width:70%;}
.div-box-75 {width:75%;}
.div-box-80,.blk-box-80 {width:80%;}
.div-box-90 {width:90%;}
.div-box-95 {width:95%;}
.full-box {width:98%;}