body,html,.full,.radio-box,#modal-bckground,#modal-bckground h1,.block-order-prdct a,.btn-cls-window,.separation {width:100%;}
#modal-bckground {top:0;right:0;bottom:0;z-index:9999999999;}
.icon-10 {width:10px;height:10px;}
.icon-24 {width:24px;height:24px;}
.icon-40 {width:40px;height:40px;}
.icon-50 {width:50px;height:50px;}
.icon-80 {width:80px;height:80px;}
.icon-100 {width:100px;height:100px;}
.btn-cls-window {padding:14px 0;}
.separation,.radio-box li div {height:20px;}

.Arial-ft {font-family:Arial, Helvetica, sans-serif;}
.Verdana-ft,body,html {font-family:Verdana,Geneva,Arial,sans-serif;}
html,body {height:auto;color:#777;}
textarea {resize:none;}
a,a img,.no-deco,.exp-1 {text-decoration:none;}
.underline {text-decoration:underline;}
a,a:focus,a img,img,.btnSubmit,.outl-none {border:none;outline:none;}
.hide,.d-none,#count-cart,.contact .success,#nav-member-top,.member-nav nav,#modal-bckground {display:none;}
.block,.block-order-prdct a,.radio-box li span {display:block;}
.inline,.tabs nav li {display:inline;}
.iln-block {display:inline-block;}
.no-style,li,.radio-box li {list-style-type:none;}
.box-fixed,.bck-fixed,#modal-bckground {position:fixed;}
.box-rltiv,.attachment-btn, .btn-upload,.radio-box {position:relative;}
.strong,.strong-1,.support-file-options .selected {font-weight:900;}
.box-abst,.box-share-viewer,.upld-file-box input {position:absolute;}
.overflow-1,.ovr-hide,.checkbox-input,.bck-fixed,.upld-file-box,#updator-box,.attachment-btn,.btn-upload,.file-upload,#editor-block {overflow:hidden;}
.ofw-y-scroll {overflow-y: scroll;}
.opty-0,.upld-file-box input {filter: alpha(opacity=1);-moz-opacity: 0.01;opacity: 0.01;}
.zm-8 {z-index:80;}
.zm-20,.box-ctn {z-index:200;}
.pos-top-0,#header-box, #menubar-1,.box-ctn,.mailbox-folder, .upld-file-box input {top:0;}
.pos-lft-0,#header-box,.box-fixed,.file-upload input[type=file] {left:0;}
.pos-rgh-0, .upld-file-box input, .btn-upload input[type=file] {right:0;}
.pos-btm-0 {bottom:0;}
.italic {font-style:italic;}
.text-center {text-align:center;}
.text-right {text-align:right;}
.t-justify {text-align:justify;}
.float-l,.radio-box li span {float:left;}
.float-r {float:right;}
.exp-1 {line-height:.8em;}
.exp-2 {left:-5px;}
.clean,h1,h2,h3,h4,hr {clear:both;}
.majuscule {text-transform:uppercase;}
.exp-1,.exp-2 {bottom: 1px; vertical-align:super;}
.pointer {cursor:pointer;}
.csr-normal {cursor:default;}