.marg-1 {margin: $prc-size-1;}
.marg-6,.min-btn-link em {margin: $px-size-6;}
.marg-l-5 {margin-left: $px-size-5;}
.marg-l-8 {margin-left: $px-size-8;}
.marg-l-16 {margin-left: $px-size-16;}
.marg-r-5 {margin-right: $px-size-5;}
.marg-r-8 {margin-right: $px-size-8;}
.marg-r-16 {margin-right: $px-size-16;}
.hmarg-1 {margin-left:1%;margin-right:1%;}
.hmarg-2 {margin-left:2px;margin-right:2px;}
.hmarg-4 {margin-left:4px;margin-right:4px;}
.hmarg-5 {margin-left:5px;margin-right:5px;}
.hmarg-8 {margin-left:8px;margin-right:8px;}
.hmarg-auto,.separation,.checkbox-input {margin-left:auto;margin-right:auto;}
.vmarg-2 {margin-top:2px;margin-bottom:2px;}
.vmarg-3 {margin-top:3px;margin-bottom:3px;}
.vmarg-5,.checkbox-input {margin-top:5px;margin-bottom:5px;}
.vmarg-7,.btn-cls-window {margin-top:7px;margin-bottom:7px;}
.vmarg-8 {margin-top:8px;margin-bottom:8px;}
.vmarg-10 {margin-top:10px;margin-bottom:10px;}
.vmarg-1,.vmarg-pr-1 {margin-top:1%;margin-bottom:1%;}
.small-marg-btm,.min-title {margin-bottom:10px;}
.min-marg-btm,#modal-bckground h1 {margin-bottom:25px;}
.big-marg-btm {margin-bottom:40px;}
.small-marg-top {margin-top:10px;}
.min-marg-top {margin-top:20px;}
.big-marg-top {margin-top:40px;}
.vbig-marg-top {margin-top:70px;}
.larg-marg-top {margin-top:140px;}