.padd-1,.paddp-1,.radio-box li {padding: $prc-size-1;}
.padd-2 {padding: $px-size-2;}
.padd-3 {padding: $px-size-3;}
.padd-5 {padding: $px-size-5;}
.padd-6 {padding: $px-size-6;}
.padd-8 {padding: $px-size-8;}
.padd-10 {padding: $px-size-10;}
.hpadd-1 {padding-left: $prc-size-1;padding-right: $prc-size-1;}
.hpadd-2 {padding-left: $px-size-2;padding-right: $px-size-2;}
.hpadd-4 {padding-left: $px-size-4;padding-right: $px-size-4;}
.hpadd-5 {padding-left: $px-size-5;padding-right: $px-size-5;}
.hpadd-10 {padding-left: $px-size-10;padding-right: $px-size-10;}
.vpadd-1 {padding-top: $prc-size-1;padding-bottom: $prc-size-1;}
.vpadd-5 {padding-top: $px-size-5;padding-bottom: $px-size-5;}
.vpadd-6 {padding-top: $px-size-6;padding-bottom: $px-size-6;}
.vpadd-10 {padding-top: $px-size-10;padding-bottom: $px-size-10;}
.vpadd-15,.padding-1 {padding-top: $px-size-15;padding-bottom: $px-size-15;}
.vpadd-30,.padding-2 {padding-top: $px-size-30;padding-bottom: $px-size-30;}
.min-padd-top {padding-top: $px-size-10;}
.vbig-padd-btm {padding-bottom: $px-size-80;}