.toggle-input,.toggle-input-2 {background-color:#ddd;}
.toggle-input span,.toggle-input-2 span {padding:6px;}
.toggle-input .on,.toggle-input-2 .on {background-color:#80c01a;}
.toggle-input .off,.toggle-input-2 .off {background-color:#b61111;}