.pos-center,.img-link-box {background-position: center center;}
.searchbar-top,.small-link.video a {background-position:0 0;}

/*Genders*/
.block-civilite .gender-1 strong {background-position:0 0;}
.block-civilite .gender-2 strong,.block-civilite .gender-3 strong {background-position:-20px 0;}
.block-civilite .selected.gender-1 strong {background-position:-40px 0;}
.block-civilite .selected.gender-2 strong,.block-civilite .selected.gender-3 strong {background-position:-60px  0;}

.small-link.video a:hover {background-position:0 -25px;}
.small-link.article a {background-position:-28px 0;}
.small-link.article a:hover {background-position:-28px -25px;}
.pict-1.config-1 {background-position:-83px -273px;}
.pict-1.upld-1 {background-position:-453px -513px;}
.pict-2.none-btn {background-position:25px 0;}
.pict-2.menu-btn {background-position:1px 0;}
.pict-2.login-btn {background-position:-89px 1px;}
.pict-2.share-btn {background-position:-64px -3px;}
.pict-2.arrow-lft-1 {background-position:-119px 2px;}
.pict-2.arrow-rgh-1 {background-position:-149px 2px;}
.pict-2.arrow-lft-2 {background-position:-119px -29px;}
.pict-2.arrow-rgh-2 {background-position:-149px -29px;}
.pict-2.video-icn {background-position:-381px -365px;}