.pict-4.icn-skl-1 {background-position:0 0;}
.pict-4.icn-skl-2 {background-position:-50px 0;}
.pict-4.icn-skl-3 {background-position:-100px 0;}
.pict-4.icn-skl-4 {background-position:-50px -50px;}
.pict-4.icn-skl-5 {background-position:-100px -50px;}
.pict-4.icn-skl-6 {background-position:0 -100px;}
.pict-4.icn-skl-7 {background-position:-50px -100px;}
.pict-4.icn-skl-8 {background-position:-100px -100px;}
.pict-4.icn-skl-9 {background-position:0 -150px;}
.pict-4.icn-skl-10 {background-position:-50px -150px;}
.pict-4.icn-skl-11 {background-position:-100px -150px;}
.pict-4.icn-skl-12 {background-position:-504px -150px;}
.pict-4.icn-skl-13 {background-position:-504px -150px;}