.fbk.share-1,a.fbk.share,.fbk-share {background-color:#003399;}
.twt.share-1,a.twt.share,.twt-share {background-color:#55acee;}
.ggl.share-1,a.ggl.share,.ggl-share {background-color:#dc4e41;}
.ytb.share-1,a.ytb.share,.ytb-share {background-color:#cd201f;}
.vdo.share-1,a.vdo.share,.vdo-share {background-color:#f07355;}
.lkd.share-1,a.lkd.share,.lkd-share {background-color:#0077b5;}
.wps.share-1,a.wps.share,.wps-share {background-color:#21759b;}
.istm.share-1,a.istm.share,.istm-share {background-color:#3f729b;}
.tblr.share-1,a.tblr.share,.tblr-share {background-color:#35465c;}
.ptr.share-1,a.ptr.share,.ptr-share {background-color:#bd081c;}
.dbbl.share-1,a.dbbl.share,.dbbl-share,.flkr.share-1,a.flkr.share,.flkr-share {background-color:#FF0084;}
.bhnc.share-1,a.bhnc.share,.bhnc-share,.dlm.share-1,a.dlm.share,.dlm-share {background-color:#1769ff;}
.vne.share-1,a.vne.share,.vne-share {background-color:#00b488;}
.vmo.share-1,a.vmo.share,.vmo-share {background-color:#1ab7ea;}
.blg.share-1,a.blg.share,.blg-share {background-color:#f57d00;}
.sdcl.share-1,a.sdcl.share,.sdcl-share {background-color:#ff8800;}
.wkpd.share-1,a.wkpd.share,.wkpd-share,.mdim.share-1,a.mdim.share,.mdim-share,.ovbg.share-1,a.ovbg.share,.ovbg-share {background-color:#313335;}
.skpe.share-1,a.skpe.share,.skpe-share {background-color:#00aff0;}
.rddt.share-1,a.rddt.share,.rddt-share {background-color:#ff4500;}
.whtp.share-1,a.whtp.share,.whtp-share {background-color:#43d854;}
.drbx.share-1,a.drbx.share,.drbx-share {background-color:#3d9ae8;}