@font-face {font-family: ft-site-1; src:url("/theme/fonts/tkeyz-1.eot");}/* EOT file for IE */
@font-face {font-family: ft-site-1; src:url("/theme/fonts/tkeyz-1.ttf");}/* TTF file for CSS3 browsers */
@font-face {font-family: ft-site-2; src:url("/theme/fonts/tkeyz-2.eot");}/* EOT file for IE */
@font-face {font-family: ft-site-2; src:url("/theme/fonts/tkeyz-2.ttf");}/* TTF file for CSS3 browsers */