$clr-black-0: #000000;
$clr-grey-0: #aaaaaa;
$clr-grey-1: #555555;
$clr-grey-2: #555555;
$clr-grey-3: #555555;
$clr-blue-0: #ff7d00;
$clr-blue-1: #ff7d00;
$clr-blue-2: #ff7d00;
$clr-blue-3: #ff7d00;
$clr-blue-4: #ff7d00;
$clr-green-0: #80c01a;
$clr-green-1: #ff7d00;
$clr-green-2: #ff7d00;
$clr-brown-0: #ff7d00;
$clr-brown-1: #ff7d00;
$clr-brown-2: #ff7d00;
$clr-red-0: #b61111;
$clr-orange-0: #ff7d00;
$clr-yellow-0: #fc0000;
$clr-white-0: #ffffff;
