$media-queries-device-1: min-width;
$media-queries-device-2: max-width;


$media-queries-mobile-size: 570px;
$media-queries-tablet-size-1: 571px;
$media-queries-tablet-size-2: 959px;
$media-queries-dsktop-1-size-1: 960px;
$media-queries-dsktop-1-size-2: 1370px;
$media-queries-dsktop-2-size-1: 1371px;
$media-queries-dsktop-2-size-2: 2460px;
$media-queries-dsktop-3-size: 2461px;