//MARGINS
$prc-size-1: 1%;
$prc-size-2: 2%;
$prc-size-3: 3%;
$prc-size-4: 4%;
$prc-size-5: 5%;
$prc-size-6: 6%;
$prc-size-7: 7%;
$prc-size-8: 8%;
$prc-size-10: 10%;
$prc-size-11: 11%;
$prc-size-12: 12%;
$prc-size-13: 13%;
$prc-size-14: 14%;
$prc-size-15: 15%;
$prc-size-20: 20%;
$prc-size-50: 50%;
$prc-size-100: 100%;
$prc-size-200: 200%;