$px-size-1: 1px;
$px-size-2: 2px;
$px-size-3: 3px;
$px-size-4: 4px;
$px-size-5: 5px;
$px-size-6: 6px;
$px-size-7: 7px;
$px-size-8: 8px;
$px-size-9: 9px;
$px-size-10: 10px;
$px-size-11: 11px;
$px-size-12: 12px;
$px-size-13: 13px;
$px-size-14: 14px;
$px-size-15: 15px;
$px-size-16: 16px;
$px-size-17: 17px;
$px-size-18: 18px;
$px-size-19: 19px;
$px-size-20: 20px;
$px-size-22: 22px;
$px-size-30: 30px;
$px-size-50: 50px;
$px-size-80: 80px;
$px-size-100: 100px;